<div class="row">
  <div class="col-lg-8">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" ngModel name="username" required #username="ngModel">
        <span class="help-block" *ngIf="!username.valid && username.touched">Please enter a valid value!</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ngModel name="password" required #password="ngModel">
        <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid value!</span>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>